<div class="display">
  <mat-tab-group dynamicHeight>
    <mat-tab [label]="'PROFILE.WORDS' | translate">
      <div class="words_texts">
        <button mat-flat-button color="warn" (click)="createWordDialog()">
          {{'BUTTON.ADD_WORD' | translate}}
        </button>
        @if(isFlashcards | async) {
          <button mat-flat-button color="warn" (click)="startFlashcards()">
            {{'BUTTON.FLASHCARDS' | translate}}
          </button>
        }
        @for( i of words | async; track i) {
          <button mat-flat-button color="primary" (click)="changeWordDialog(i)">{{i.word}}</button>
        }
      </div>
    </mat-tab>
    <mat-tab [label]="'PROFILE.TEXTS' | translate">
      <div class="words_texts">
        <button mat-flat-button color="warn" (click)="generateTextDialog()">
          {{'BUTTON.GEN_TEXT' | translate}}
        </button>
        @if(takingPractice | async) {
          <button mat-flat-button color="warn" [routerLink]="['/profile/practice']">
            {{ 'BUTTON.TO_PRACTICE' | translate}}
          </button>
        }
        @for( i of texts | async; track i) {
          <button mat-flat-button color="primary" (click)="openTextDialog(i)">{{i.name}}</button>
        }
      </div>
    </mat-tab>
<!--    <mat-tab [label]="'PROFILE.CHANGE_PASSWORD' | translate"> CHANGE_PASSWORD</mat-tab>-->
<!--    <mat-tab [label]="'PROFILE.DELETE_ACCOUNT' | translate"> DELETE_ACCOUNT</mat-tab>-->
  </mat-tab-group>

</div>

